<div class="list-group">
  <div class="list-group-item">
    <%= @pokemon[:name] %>
  </div>
  <div class="list-group-item">
    <%= @pokemon[:num] %>
  </div>
  <div class="list-group-item">
    <%= @pokemon[:sprites] %>
  </div>
  <div class="list-group-item">
    <%= @pokemon[:types] %>
  </div>
  <div class="list-group-item">
    <%= @pokemon[:weight] %>
  </div>
  <div class="list-group-item">
    <%= @pokemon[:height] %>
  </div>
</div>