<div class="card bg-danger mt-2 px-3 py-3">
  <div class="card bg-dark px-2 py-2">
    <div class="card">
      <div class="list-group">
        <div class="list-group-item">
          <%= @pokemon[:name] %>
        </div>
        <div class="list-group-item">
          <%= @pokemon[:num] %>
        </div>
        <div class="list-group-item">
          <%= @pokemon[:sprites] %>
        </div>
        <div class="list-group-item">
          <%= @pokemon[:types] %>
        </div>
        <div class="list-group-item">
          <%= @pokemon[:weight] %>
        </div>
        <div class="list-group-item">
          <%= @pokemon[:height] %>
        </div>
      </div>
    </div>
  </div>
</div>